body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

/* Top-Section */
.Heading {
  text-align: center;
  padding: 10px 50px 10px 50px;
  font-size: 1rem;
  line-height: 1.5;
  color: #4c4e61;
}

.line1 {
  font-weight: 200;
  color: #a3a5ae;
}

.line2 {
  font-weight: 800;
}

.description {
  color: #a3a5ae;
  text-align: center;
  margin: 0 500px 2.5rem;
}

/* Cards-Section */
.container {
  margin: 0 auto;
  max-width: 920px;
}

.row {
  padding: 10px;
}

.columnn {
  width: 300px;
}

.card-1 {
  margin: auto 0 auto auto;
}

.card-4 {
  position: relative;
  left: 0;
}

.card-1, .card-4 {
  max-width: 300px;
  height: 200px;
  position: relative;
  top: 100px;
}

.card-2, .card-3 {
  padding-left: 0;
  padding-right: 0;
  max-width: 300px;
  height: 200px;
  margin: auto 0 auto 0;
}

.card-header {
  height: 4px;
  padding: 0;
}

.card-1 .card-header {
  background-color: #45d3d3;
}

.card-2 .card-header {
  background-color: #ea5353;
}

.card-3 .card-header {
  background-color: #fcaf4a;
}

.card-4 .card-header {
  background-color: #549ef2;
}

.card-body {
  font-weight: 200;
  color: #a3a5ae;
  font-size: 0.7rem;
  padding: 20px;
}

h5 {
  font-weight: 600;
  color: #4c4e61;
}

img {
  width: 3.5rem;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

/* Footer-Section */
footer {
  font-size: 0.75rem;
  text-align: center;
}

/* Media query --> Scaling to Mobile size */
@media(max-width: 390px) {
  .description {
    margin-left: 0;
    margin-right: 0;
  }

  .columnn {
    padding-left: 45px;
  }

  .heading {
    padding: 10px;
  }

  .card {
    position: static;
  }

  .img-1 {
    width: 18%;
    position: relative;
    left: 115px;
    top: 75px;
  }

  .img-2 {
    width: 18%;
    position: relative;
    left: 180px;
    top: 65px;
  }

  .img-3 {
    width: 18%;
    position: relative;
    left: 100px;
    top: 80px;
  }

  .img-4 {
    width: 18%;
    position: relative;
    left: 175px;
    top: 65px;
  }
}
